@model Rocky.Models.Category


<div class="form-group row">

    <h2 class="text-info pl-3">Details for</h2><input asp-for="Name" class="disabled border-0 text-info pl-3 h2" disabled>
</div>

<div class="row">
    <div class="col-8">
        <div class="form-group row">
            <input asp-for="Id" type="hidden">
            <div class="col-4">
                <label asp-for="Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class=" form-control disabled border-0" disabled>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="DisplayOrder"></label>
            </div>
            <div class="col-8">
                <input asp-for="DisplayOrder" class=" form-control disabled border-0" disabled>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-8 offset-4 row">

                <div class="col">
                    <a asp-action="Index" class="btn btn-success">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        @* Keep this empty *@
    </div>
</div>